# Python cache
__pycache__/
*.py[cod]
*$py.class

# Environments
.venv/
venv/
ENV/

# Testing & Coverage
.pytest_cache/
.coverage

# Generated gRPC stubs (optional, but good if users build their own)
# tap.proto/tap_pb2.py
# tap.proto/tap_pb2_grpc.py# Created by pytest automatically.
*
